:root {
    --background-primary-color: #03221C;
    --theme-yellow-color: #DFB748;
    --backgroud-secondary-color: #082922;
    --font-secondary: #0A4B3E;
}



.cart-container-desktop {
    /* display: flex; */
    border-bottom: 1px solid var(--theme-yellow-color);
    /* height: 100px; */
}

.cart-headers-desktop {
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 1;
}

.cart-headers-left {
    width: 285px;
    border-bottom: 1px solid var(--theme-yellow-color);
    padding: 20px 0;
}


.cart-headers-right {
    padding: 20px 0;

    display: flex;
    flex: 1;
    border-bottom: 1px solid var(--theme-yellow-color);
}

.cart-header {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.cart-header-title {
    width: 280px
}

.cart-header-size {
    width: 125px;
    text-align: center;
}

.cart-header-quantity {
    width: 265px;
    text-align: center;

}

.cart-header-price {
    width: 125px;
    text-align: left;

}

.cart-header-delete {
    width: 100px;
}


.cart-row {
    height: 363px;
    display: flex;
    align-items: center;
    padding: 20px 0 0 0;
    gap: 20px;
}

.cart-row-left {
    width: 285px;
    border-bottom: 1px solid var(--theme-yellow-color);
    height: 100%;
}

.cart-row-right {
    flex: 1;
    border-bottom: 1px solid var(--theme-yellow-color);
    display: flex;
    height: 100%;
    align-items: center;
}

.cart-row:last-child{
    padding: 20px 0 0 0;
}

.cart-row:last-child .cart-row-left{
    border-bottom: 0px;
}

.cart-row:last-child .cart-row-right{
    border-bottom: 0px;
}

.cart-row-title {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -80px;
    padding: 5px;
}

.cart-row-size {
    width: 125px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

.cart-row-quantity {
    width: 265px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.cart-row-price {
    width: 145px;
    text-align: center;

    font-size: 24px;
    font-weight: 400;
}

.cart-row-delete {
    width: 80px;
    text-align: right;
}

.cart-row-photo img {
    width: 285px;
    height: 323px;
    border-radius: 3px;
    object-fit: contain;
    background-color: #fff;
}

.cart-row-photo__sign{
    height: 28px;
    width: 28px;
    background-color: var(--theme-yellow-color);
    border-radius: 2px;
    position: relative;
    top: 0;
    left: 0;
    border: 4px solid var(--background-primary-color);
    margin-bottom: -28px;
}

.cart-row-title__title{
    font-family: "Mirra Auriolic", sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.cart-row-title__subtitle {
    font-weight: 300;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-row-title__subtitle__color{
    height: 24px;
    width: 24px;
    border-radius: 2px;
    display: block;
}

.cart-x-button {
    border: none;
    width: 44px;
    height: 44px;
    background: none;
    cursor: pointer;
}

.cart-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.cart-buttons__right{
    display: flex;
    align-items: center;
    gap: 38px;
}

.cart-buttons__right button{
    width: 300px;
}
.cart-buttons__right__total{
    display: flex;
    align-items: center;
    gap: 38px;

}

.cart-buttons__right__total__label{
    color: #0A4B3E;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
}

.cart-buttons__right__total__value{
    color: var(--theme-yellow-color);
    font-size: 32px;
    font-weight: 400px;
}

.cart-container-mobile{
    display: none
}
@media (max-width: 1250px) {
    .cart-container-desktop {
        display: none;
    }
    .cart-buttons{
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        margin-bottom: 30px;
    }
    .cart-buttons__right {
        flex-direction: column;
        gap: 32px;
        width: 100%;
    }
    
    .cart-buttons__right button {
        width: 100%;
    }

    .cart-container-mobile{
        margin-top: 20px;
        display: block;
    }

    .cart-row-mobile {
        display: flex;
        gap: 12px;
        height: 191px;
        border-bottom: 1px solid #DFB74880;
        padding: 24px 0;
    }
    .cart-row-mobile-left{
        height: 143px;

    }

.cart-row-photo img {
    width: 35vw;
    height: 143px;
    border-radius: 3px;
    object-fit: contain;
    background-color: #fff;
}


.cart-row-mobile-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.cart-row-mobile-title{
    font-family: "Mirra Auriolic", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.cart-row-mobile-second {
    display: flex;
    justify-content: space-between;
}

.cart-row-mobile-price {
    font-size: 20px;
    font-weight: 400;
}

.cart-row-mobile-buttons{
    display: flex;
    justify-content: space-between;

}
}

