:root {
    --background-primary-color: #03221C;
    --theme-yellow-color: #DFB748;
    --backgroud-secondary-color: #082922;
    --font-secondary: #0A4B3E;
}

.user-name-span{
    color: var(--theme-yellow-color);
}

.user-container {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 120px;
}

.user-container-aside {
    width: 387px;
}

.user-container-main {
    flex: 1;
    background-color: var(--backgroud-secondary-color);
    min-height: 748px;

}

.user-container-menu {
    background-color: var(--backgroud-secondary-color);
    height: 392px;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
}

@media (max-width: 1250px) {
    .user-container{
        display: flex;
        flex-direction: column;

    }

    .user-container-aside {
        width: 100vw;
        margin-left: -32px;
        margin-right: -32px;
    }
    .user-container-main {
            width: 100vw;
        margin-left: -32px;
        margin-right: -32px;

        min-height: 100px;

    }
}
.user-container-menu__user {
    flex: 1;
    display: flex;
    gap: 32px;
    padding: 20px;

}

.user-container-menu__user__avatar {
    width: 78px;
    height: 78px;
    /* border: 1px solid var(--theme-yellow-color);
    border-radius: 50%; */
}

.user-container-menu__user__avatar img {
    width: 78px;
    height: 78px;
    border: 1px solid var(--theme-yellow-color);
    border-radius: 50%;
    object-fit: cover;

}


.user-container-menu__item{
    height: 64px;
    border-top: 1px solid #DFB74880;
    padding: 20px;
    display: flex;
    gap: 10px;
}

.user-container-menu__item__title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #DFB748;
}


.user-container-menu__item{
    opacity: 0.5;
    cursor: pointer;
}

.user-container-menu__item:hover{
    opacity: 1;
}

.user-container-menu__item.active{
    background-color: #15332B;
    border-left: 3px solid var(--theme-yellow-color);
    padding-left: 17px;
    border-top: none;
    border-bottom: 1px solid #15332B;
    opacity: 1;
    cursor: default;
}

.user-container-menu__item.active .user-container-menu__item__title {
    color: var(--theme-yellow-color)

}


.user-container-menu__user__data p {
    margin-top: 4px;
    margin-bottom: 4px;
}