{% extends 'container.html' %}
{% load i18n %}
{% load static %}
{% block title %}
Прикольно
{% endblock %}

{% block description %}
HELEN
{% endblock %}

{% block content %}
<div class="container-1200">
    <div class="breadcrumb">
        <span class="breadcrumb__item">
            Главная
        </span>
        <span class="breadcrumb__item active">
            Вход
        </span>
    </div>
    <div class="login-container">
        <div class="h1">Вход</div>
        <form method="post" action="{% url 'login_user' %}">

            <div class="login-form">
                {% csrf_token %}
                <div class="input {% if error %} input--error {% endif %}">
                    <label class="input__label" for="email">Email</label>
                    <div class="input__wrapper">
                        <input type="text" id="email" name="email" class="input__field"
                            placeholder="Введите email" required>
                        
                    </div>

                </div>

                <div class="input input--password">
                    <label class="input__label" for="password">Пароль</label>
                    <div class="input__wrapper">
                        <input type="password" id="password" name="password" class="input__field"
                            placeholder="Введите пароль" required>
                        <button type="button" class="input__visibility">
                            <img src="{% static 'eye.svg' %}" alt="Toggle visibility">
                        </button>
                    </div>
                </div>


                <button class="button button--primary button--line">
                    Войти
                </button>

            </div>
        </form>

    </div>
</div>
                        {% if error %}
<script>
    showMessage("{{ error|escapejs }}", 5000);
</script>
{% endif %}                       

<script>
    const visibilityButton = document.querySelector('.input__visibility');
    const password = document.querySelector('#password');

    visibilityButton.addEventListener('mousedown', function () {
        password.type = 'text';
    });

    visibilityButton.addEventListener('mouseup', function () {
        password.type = 'password';
    });

    visibilityButton.addEventListener('mouseleave', function () {
        password.type = 'password';
    });

    const emailInput = document.querySelector('.input--error')
    if (emailInput.classList.contains('input--error')) {
        emailInput.addEventListener('click', function(){
            emailInput.classList.remove('input--error')
            emailInput.removeEventListener('click')
        })
    };
</script>

{% endblock %}